<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body th:style="'background-image: url(' + @{/images/bull.png} + ');
                background-repeat: no-repeat;
                background-size: cover;'">
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
                <h1>Your Bank Application</h1>
                <a role="button" class="btn btn-primary btn-lg" th:href="@{/LKMBank}">Check LKM Bank application</a>
        </div>
</div>
</body>
</html>