<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/navLogged :: navClient"/>
<body th:style="'background-image: url(' + @{/images/background.png} + ');
                background-repeat: no-repeat;
                background-size: cover;
                height=100%'">
<br>
<br><h3 align="center">Loan status</h3><br>
<div align="center" th:style="'margin: auto;
  width: 60%;
  border: 3px solid rgba(224, 228, 228, 0.801);
  padding: 10px;rgba(224, 228, 228, 0.801);'">

    <table class="table table-secondary table-bordered mt-5 align-middle">
        <head>
            <tr>
                <th rowspan="2">remaining loan</th>
                <th rowspan="2">amount</th>
                <th rowspan="2">date</th>
                <th rowspan="2">title</th>
                <th colspan="2" style="vertical-align : middle;text-align:center;">recipient</th>
                <th colspan="2" style="vertical-align : middle;text-align:center;">sender</th>
            </tr>
            <tr>
                <th>account</th>
                <th>name</th>
                <th>account</th>
                <th>name</th>
            </tr>
        </head>
        <tr>
            <td> 99500 </td>
            <td> -500 </td>
            <td> 12-22-2020 09:00:00</td>
            <td> Loan monthly payment </td>
            <td>32 7049 6037 5949 4912 0459 8181</td>
            <td> LKM Bank </td>
            <td>32 4787 4781 4737 3728 7392 5353</td>
            <td> John Geller </td>
        </tr>
        <tr>
            <td> 99000 </td>
            <td> -500 </td>
            <td> 01-22-2021 09:00:00</td>
            <td> Loan monthly payment </td>
            <td>32 7049 6037 5949 4912 0459 8181</td>
            <td> LKM Bank </td>
            <td>32 4787 4781 4737 3728 7392 5353</td>
            <td> John Geller </td>
        </tr>
        <tr>
            <td> 98500 </td>
            <td> -500 </td>
            <td> 02-22-2021 09:00:00</td>
            <td> Loan monthly payment </td>
            <td>32 7049 6037 5949 4912 0459 8181</td>
            <td> LKM Bank </td>
            <td>32 4787 4781 4737 3728 7392 5353</td>
            <td> John Geller </td>
        </tr>
    </table>
</div>

</body>
</html>